*{
    margin: 0;
    padding:0;
}

body{
    font: 100%/1.4 sans-serif;
    background: #fff;
}

p{
    text-align: justify;
}
.topo{
    height: 142px;
    position: relative;
    background: url(../assets/header-2-rio-2016.jpg) no-repeat center 0;
}

img.logomarca {
    position: absolute;
    left: 50%;
    width: 260px;
    margin-left: -130px;
}

.rodape{
    height: 71px;
    position: relative;
    background: url('../assets/footer-rio-20161.jpg') no-repeat center 0;
}

.rodape small{
    left: 50%;
    position: absolute;
    top:27px;
    margin-left: -72.5px;
    font-weight: bold;
    color: #fff
}

.navegacao{
    background: #00a859;

}


.principal{
    background: #eee;
    
}

.auxiliar{
    background: #ddd;
    
}

.principal header {
    text-align: center;
    color: #62bb46;
    padding-top: 5px;
}

.auxiliar h1{
    text-align: center;
    color: #ed1c24;
    margin-top: 0;
}

.bloco {
    margin-top: 10px;
    margin-bottom: 10px;
}

.auxiliar article{
    margin-top: 10px;
   
}

.auxiliar article:last-child{
    padding-bottom: 10px;
}

.bloco h2{
    margin-bottom: 10px;
}

article p{
    margin-top: 10px;
}

/* Início Menu Mobile */

a, a:active, a:visited{text-decoration: none; color: #fff;}
a:hover{text-decoration: underline; color: #333;}

.navegacao ul{margin: 0; padding: 0;}
.navegacao li{list-style: none; font-size: 110%; border-bottom: 1px solid #ddd;}

.menu-icon{padding: .5em; font-size: 120%; color: #fff;}

.navegacao a{ color: #fff;}

.navegacao a:hover, .navegacao li a:focus, .navegacao li a:active{color: #3e4095;}

.navegacao{
    font: bold 100%/1.4 sans-serif;
    background: #00a859;
    height: 2.8em;
    overflow: hidden;
    -webkit-transition: height 2s;
    -moz-transition: height 2s;
    -o-transition: height 2s;
    -ms-transition: height 2s;
    transition: height 2s;
}

.navegacao:hover, .navegacao:focus, .navegacao:active{
    height: 15em;
    -webkit-transition: height 2s;
    -moz-transition: height 2s;
    -o-transition: height 2s;
    -ms-transition: height 2s;
    transition: height 2s;
}

.esconde_mobile{
    display:none;
}
/* Fim Menu Mobile */

/* Breakpoint 30em - 480px */

@media all and (min-width: 30em){
    .main-pag{
        background: #00a859;
    }

    .principal {
        width: 70%;
        padding: 0;
        float: right;
    }

    .auxiliar{
        width: 30%;
        float: left;
        padding: 0;
    }

    .navegacao{
        width: 30%;
        float:left;
        height: 15em;
    }

    .rodape{
        clear: both;
    }

    .principal header, .principal div.bloco, .auxiliar article{
        padding: 0 .5em;
    }

    .navegacao li:first-child {
        border-top: 1px solid #ddd;
    }

    .navegacao ul{
        padding-left: .5em;
        padding-right: .5em;
    }
/*
    .menu-icon {
        text-indent: -1000em;
        height: 0;
        line-height: 0;
    }
*/

.esconde_480px{
    display: none;
}

.esconde_mobile{
    display:block;
}

header.topo{
    height: 142px;
}

img.logomarca {
    position: absolute;
    left: 50%;
    width: 260px;
    margin-left: -130px;
    top: 20px;
}
}

/* Breakpoint 62.5em - 1000px */

@media all and (min-width: 62.5em){
    
    .main-page{
        background: none;
    }

    .principal{
        width: 60%;
        float:left;

    }

    .auxiliar {
        width: 25%;
    }

    .navegacao{
        width: 15%;
    }
}

/* Breakpoint 75em - 1200px */

@media all and (min-width: 75em){
    .geral{
        max-width: 100em;
        margin: 0 auto;
    }

    .principal {
        width: 57%;
        margin: 5px 1.5%;
        border-radius: 10px;
    }


}